# Application
APP_PORT=3001
APP_ENV=development
APP_NAME=service-attendance

# Database (MySQL)
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=db_attendance
MYSQL_SYNCHRONIZE=false
MYSQL_LOGGING=false

# JWT (HARUS SAMA dengan service-employee)
JWT_SECRET=your-super-secret-jwt-key-change-in-production

# BullMQ
BULLMQ_REDIS_HOST=localhost
BULLMQ_REDIS_PORT=6379
BULLMQ_REDIS_PASSWORD=

# CORS
CORS_ORIGIN=http://localhost:5173

# File Upload
UPLOAD_DIR=uploads/attendance
MAX_FILE_SIZE=5242880
